/* STYLED WITH SASS */
.alata-regular, footer .footer-content p, footer .footer-content ul li, main .container__projects-content .projects-content__options button, main .container__interactive-content .hero-content-details p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-font, .mobile-menu ul li, main .container__projects-content h2, main .container__projects-content .projects-content__title, main .container__interactive-content .hero-content-details h1, header .mobile-header .header__content h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.background-style, main .container__projects-content .card-8, main .container__projects-content .card-7, main .container__projects-content .card-6, main .container__projects-content .card-5, main .container__projects-content .card-4, main .container__projects-content .card-3, main .container__projects-content .card-2, main .container__projects-content .card-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  width: 100%;
  margin: 0;
  font-size: 0.9375em;
  position: relative;
}

h1,
h2,
p {
  margin: 0;
}

header {
  width: 100%;
}
header .mobile-header {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 40px 20px 0 20px;
  box-sizing: border-box;
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: center;
}
header .mobile-header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .mobile-header .header__content {
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  margin: auto;
  padding: 20px;
  border: 2.5px solid hsl(0, 0%, 100%);
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
header .desktop-header {
  display: none;
}

main {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
main .container {
  width: 100%;
}
main .container__interactive-content {
  width: 100%;
  margin-top: 75px;
}
main .container__interactive-content .hero-content-background {
  height: 300px;
  background-image: url("../images/mobile/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .container__interactive-content .hero-content-details {
  padding: 35px 35px 0 35px;
  box-sizing: border-box;
  text-align: center;
}
main .container__interactive-content .hero-content-details h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
main .container__interactive-content .hero-content-details p {
  color: hsl(0, 0%, 50%);
}
main .container__projects-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 150px);
  grid-row-gap: 20px;
}
main .container__projects-content .projects-content__card {
  height: 100%;
}
main .container__projects-content .projects-content__card {
  position: relative;
}
main .container__projects-content .projects-content__title {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  align-self: flex-end;
}
main .container__projects-content h2 {
  font-size: 28px;
  text-transform: uppercase;
  position: absolute;
  height: fit-content;
  left: 30px;
  bottom: 30px;
  color: hsl(0, 0%, 100%);
}
main .container__projects-content .card-1 {
  background-image: url(../images/mobile/image-deep-earth.jpg);
}
main .container__projects-content .card-2 {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}
main .container__projects-content .card-3 {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}
main .container__projects-content .card-4 {
  background-image: url(../images/mobile/image-grid.jpg);
}
main .container__projects-content .card-5 {
  background-image: url(../images/mobile/image-from-above.jpg);
}
main .container__projects-content .card-6 {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}
main .container__projects-content .card-7 {
  background-image: url(../images/mobile/image-curiosity.jpg);
}
main .container__projects-content .card-8 {
  background-image: url(../images/mobile/image-fisheye.jpg);
}
main .container__projects-content .projects-content__options {
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main .container__projects-content .projects-content__options button {
  width: 50%;
  padding: 15px 0;
  border: 1px solid hsl(0, 0%, 0%);
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

.mobile-menu {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: 200px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
}
.mobile-menu .menu-close-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-menu ul li {
  padding: 20px 0;
  font-size: 28px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

footer {
  background-color: hsl(0, 0%, 0%);
}
footer .footer-content {
  padding: 50px 40px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
footer .footer-content ul {
  padding: 0;
  margin: 30px 0;
  list-style: none;
}
footer .footer-content ul li {
  padding: 15px 0;
}
footer .footer-content .socials-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-content .socials-container li {
  display: inline;
  padding: 10px 0;
  margin: 0 10px;
}
footer .footer-content .socials-container li img {
  height: 24px;
}
footer .footer-content p {
  margin-top: 20px;
  color: hsl(0, 0%, 50%);
}

@media screen and (min-width: 56.25em) {
  header .mobile-header {
    display: none;
  }
  header .desktop-header {
    position: relative;
    display: block;
    padding: 40px 75px;
    height: 450px;
    box-sizing: border-box;
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
  }
  header .desktop-header .header-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  header .desktop-header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .desktop-header .header__container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }
  header .desktop-header .header__container ul li {
    display: inline;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 100%);
    padding: 10px 0;
    margin-left: 35px;
  }
  header .desktop-header .header__container ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
  header .desktop-header .header__content {
    width: 55%;
    padding: 20px;
    box-sizing: border-box;
    border: 2.5px solid hsl(0, 0%, 100%);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
  }
  header .desktop-header .header__content h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
  }
  main {
    padding: 0 75px;
  }
  main .container__interactive-content {
    position: relative;
  }
  main .container__interactive-content .hero-content-background {
    width: 60%;
    background-image: url(../images/desktop/image-interactive.jpg);
    background-size: cover;
    background-position: center;
  }
  main .container__interactive-content .hero-content-details {
    min-width: 54%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 110px;
    left: 45%;
    padding: 40px;
    background-color: hsl(0, 0%, 100%);
  }
  main .container__interactive-content .hero-content-details p {
    font-size: 12.5px;
  }
  main .container__projects-content {
    margin-top: 15px;
  }
  main .container__projects-content .projects-content__options button:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
  }
  main .container .projects-content__card {
    background-position: top;
  }
  main .container .projects-content__card:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  main .container .projects-content__card:hover h2 {
    color: brown;
  }
}
@media screen and (min-width: 81.25em) {
  header .desktop-header {
    height: 650px;
    padding: 0;
  }
  header .desktop-header .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;
    gap: 150px;
  }
  header .desktop-header .header-wrapper .header__content {
    width: 57.5%;
  }
  header .desktop-header .header-wrapper .header__content h1 {
    font-size: 55px;
  }
  main {
    padding: 0;
  }
  main .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  main .container__interactive-content .hero-content-background {
    height: 350px;
  }
  main .container__interactive-content .hero-content-details {
    width: 560px;
    padding: 60px;
  }
  main .container__projects-content {
    margin: 75px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 400px 400px;
    grid-template-areas: "our-creations our-creations see-all see-all" "deep-earth night-arcade soccer-team the-grid" "above-vr pocket-borealis curiosity fisheye";
    grid-gap: 20px;
  }
  main .container__projects-content .projects-content__title {
    margin-bottom: 0;
    grid-area: our-creations;
    align-self: center;
  }
  main .container__projects-content .card-1 {
    background-image: url(../images/desktop/image-deep-earth.jpg);
    grid-area: deep-earth;
  }
  main .container__projects-content .card-2 {
    background-image: url(../images/desktop/image-night-arcade.jpg);
    grid-area: night-arcade;
  }
  main .container__projects-content .card-3 {
    background-image: url(../images/desktop/image-soccer-team.jpg);
    grid-area: soccer-team;
  }
  main .container__projects-content .card-4 {
    background-image: url(../images/desktop/image-grid.jpg);
    grid-area: the-grid;
  }
  main .container__projects-content .card-5 {
    background-image: url(../images/desktop/image-from-above.jpg);
    grid-area: above-vr;
  }
  main .container__projects-content .card-6 {
    background-image: url(../images/desktop/image-pocket-borealis.jpg);
    grid-area: pocket-borealis;
  }
  main .container__projects-content .card-7 {
    background-image: url(../images/desktop/image-curiosity.jpg);
    grid-area: curiosity;
  }
  main .container__projects-content .card-8 {
    background-image: url(../images/desktop/image-fisheye.jpg);
    grid-area: fisheye;
  }
  main .container__projects-content .projects-content__options {
    grid-area: see-all;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  main .container__projects-content .projects-content__options button {
    width: 30%;
  }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  footer .footer-content .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .footer-content .footer-menu ul {
    margin: 0;
    gap: 40px;
  }
  footer .footer-content .footer-menu ul li {
    padding: 0;
    padding-bottom: 10px;
    display: inline;
    margin-right: 40px;
  }
  footer .footer-content .footer-menu ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
  footer .footer-content .footer-socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  footer .footer-content .footer-socials .socials-container li:hover {
    cursor: pointer;
    border-bottom: 2px solid hsl(0, 0%, 100%);
  }
  footer .footer-content p {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
